/*------------------------------------*\
  Components............. Buttons
\*------------------------------------*/

.c-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $unimed_sanssemibold;
  font-weight: $btn-font-weight;
  color: var(--cl-white);
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  letter-spacing: .04em;
  user-select: none;
  background-color: transparent;
  border: $btn-border-width solid transparent;
  @include button-size($btn-padding-y, $btn-padding-x, $btn-font-size, $btn-line-height, 30px);
  @include transition($btn-transition);

  @include hover {
    color: var(--cl-white);
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  &--cta {
    @include square(200px, 60px);
    background-color: var(--cl-secondary);

    &:hover {
      box-shadow: 0 0 25px rgba($black, .25);
    }
  }
}