/*------------------------------------*\
  Components............. Card content
\*------------------------------------*/

.c-card-content {
  display: flex;
  flex-direction: column;
  text-align: center;

  &__img {
    @include square(140px, auto);
    margin: 0 auto;
  }

  &__title {
    font-size: var(--fz-xm);
    line-height: 1.5;
    margin-bottom: 0;
  }

  @include media('screen', '>small') {
    &__title {
      font-size: var(--fz-xxm);
    }
  }
}
