/*------------------------------------*\
  Components............. Hero
\*------------------------------------*/

.c-hero {
  color: var(--cl-white);
  margin-top: auto;

  &__title {
    font-family: $unimed_sansbold;
    font-size: var(--fz-xxl);
    text-shadow: 0 0 20px rgba($gray-900, 0.7);
    line-height: 1.3;
    margin-bottom: var(--sp-unit);

    em {
      font-style: normal;
      box-shadow: 0 -4px 0 $secondary inset;
    }
  }

  @include media('screen', '<xsmall') {
    margin-bottom: var(--sp-double);
  }

  @include media('screen', '>medium') {
    max-width: 55%;

    &__title {
      font-size: var(--fz-hhl);
      margin-bottom: var(--sp-triple);
    }
  }
}