/*------------------------------------*\
  Components............. Menu
\*------------------------------------*/

.c-menu {
  display: flex;

  &__link {
    font-family: $unimed_sansextrabold;
    text-transform: uppercase;
    text-shadow: 0 0 30px rgba($gray-900, 0.7);

    &:hover { box-shadow: 0 -6px 0 $secondary inset; }
    &:focus { box-shadow: 0 0 0 $secondary inset; }
    
    // &.active { box-shadow: 0 -6px 0 $secondary inset; }
  }

  &__item.active a { box-shadow: 0 -6px 0 $secondary inset; }

  &__item:not(:first-child) { margin-left: var(--sp-double); }

  @include media('screen', '>medium') {
    &__item:not(:first-child) { margin-left: var(--sp-double); }
  }
}
