/*------------------------------------*\
  Components............. Sec CTA
\*------------------------------------*/

.c-sec-cta {
  &__title { margin-bottom: 0; }

  &__header { margin-bottom: var(--sp-unit-half); }

  &__content {
    display: flex;
    justify-content: center;
  }

  @include media('screen', '>=small') {
    &__title { margin-bottom: 0; }

    &__header { margin-bottom: var(--sp-unit-half); }
  }

  @include media('screen', '>medium') {
    &__title {
      max-width: 60%;
    }
  }
}
