/*------------------------------------*\
  Components............. Sec read
\*------------------------------------*/

.c-sec-read {
  &__list { display: flex; }

  @include media('screen', '<xsmall') {
    &__item { padding: 0 var(--sp-twelve); }

    &__list {
      overflow-x: auto;
      width: 100vw;
      margin-left: -15px;
      margin-right: -15px;

      .c-card-content__title { width: 60vw; }
    }
  }

  @include media('screen', '>=small') {
    &__item {
      width: 25%;
      margin: 0 var(--sp-twelve);

      &:first-child { margin-left: 0; }
      &:last-child { margin-right: 0; }
    }
  }

  @include media('screen', '>medium') {
    &__item { margin: 0 var(--sp-unit-half); }
  }
}
