/*------------------------------------*\
  Components............. Sec video
\*------------------------------------*/

.c-sec-video {
  background-color: #f7f7f7;

  &__title { color: var(--cl-secondary); }

  &__content {
    display: flex;
    justify-content: center;
  }

  @include media('screen', '<xsmall') {
    padding-bottom: 0;

    &__content {
      margin-left: -15px;
      margin-right: -15px;
    }
  }

  @include media('screen', '>medium') {
    &__content {
      max-width: 60%;
      margin: 0 auto;
    }
  }
}
