
// Helpers
$i:           !important;
$t:           transparent;
$n:           none;
$in:          initial;
$ih:          inherit;
$cc:          currentColor;
$imgPath:     '../images';

$breakpoints: (
  xsmall: 480px,
  small: 768px,
  medium: 992px,
  mindesktop: 1024px,
  large: 1200px, 
  xlarge: 1440px
);

// $grad-blue: linear-gradient(90deg, #0f82e6 0%, #0e6ec1 47.36%);
// $grad-white: linear-gradient(180deg, rgba(250, 250, 250, 0) 0%, #fafafa 100%);


//
// Bootstrap replace
// Replace styles 
// 

// Color system

$gray-100: #f9f9fa;
$gray-200: #eeeef1;
$gray-300: #d7d7db;
$gray-400: #b2b2b3;
$gray-500: #737373;
$gray-600: #4a4a4f;
$gray-700: #38383d;
$gray-800: #29292e;
$gray-900: #0c0c0d;
$black:    #000000;

$primary:       #00995D;
$secondary:     #A3238E;
$success:       #13bd00;
$info:          #0a85ff;
$warning:       #d66f00;
$danger:        #d60020;
$light:         #fafafa;
$dark:          #4b4b4b;

$theme-colors: ();
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":    $primary,
    "secondary":  $secondary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "light":      $light,
    "dark":       $dark
  ),
  $theme-colors
);

// Body
//
// Settings for the `<body>` element.

$body-color:    $dark;

// Typography

$unimed_sansbold: 'unimed_sansbold', Tahoma, 'DejaVu Sans', sans-serif;
$unimed_sansbold_italic: 'unimed_sansbold_italic', Tahoma, 'DejaVu Sans', sans-serif;
$unimed_sansextrabold: 'unimed_sansextrabold', Tahoma, 'DejaVu Sans', sans-serif;
$unimed_sansextrabold_italic: 'unimed_sansextrabold_italic', Tahoma, 'DejaVu Sans', sans-serif;
$unimed_sansregular: 'unimed_sansregular', Tahoma, 'DejaVu Sans', sans-serif;
$unimed_sansitalic: 'unimed_sansitalic', Tahoma, 'DejaVu Sans', sans-serif;
$unimed_sanssemibold: 'unimed_sanssemibold', Tahoma, 'DejaVu Sans', sans-serif;
$unimed_sanssemibold_italic: 'unimed_sanssemibold_italic', Tahoma, 'DejaVu Sans', sans-serif;

$font-family-base: $unimed_sansregular;

$font-size-base: 1rem; // Assumes the browser default, typically `16px`


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1300px
);
