/*------------------------------------*\
  Layouts................ Footer
\*------------------------------------*/

.c-address { margin-bottom: 0; }


.o-footer {
  color: var(--cl-white);
  font-family: $unimed_sanssemibold;
  text-transform: uppercase;
  letter-spacing: .02em;
  text-align: center;
  padding: var(--sp-triple) 0;
  background-color: var(--cl-primary);

  .c-logo {
    cursor: default;
    margin-bottom: var(--sp-double);
  }

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
