/*------------------------------------*\
  Layouts................ Header
\*------------------------------------*/

.c-logo {
  display: block;

  @include media('screen', '<small') {
    width: 130px;

    &__img { width: 100%; }
  }
}

.c-navigation {
  @include media('screen', '<small') {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: var(--sp-twelve) 0;
    background: var(--cl-primary);
    box-shadow: 0 1px 5px rgba($gray-900, 0.3);
    position: fixed;
    bottom: 0;
    left: 0;
  }

  @include media('screen', '>=small') {
    margin-left: auto;
  }
}


.o-header {
  width: 100%;
  padding-top: var(--sp-unit-half);
  color: var(--cl-white);
  background-color: $t;
  position: absolute;
  top: 0;
  left: 0;
  transition: $transition-base;

  a { color: var(--cl-white); }

  &.sticky {
    background-color: rgba($primary, .95);
    padding: var(--sp-twelve) 0;
    box-shadow: 0 1px 5px rgba($gray-900, 0.3);
    z-index: 50;

    .c-logo__img { width: 115px; }
  }

  @include media('screen', '>=small') {
    .container {
      display: flex;
      align-items: center;
    }
  }
}

.o-hero {
  background: var(--cl-primary) url('#{$imgPath}/hero-bg.jpg') center no-repeat;
  background-size: cover;

  .container {
    display: flex;
    min-height: 100vh;
    padding-top: var(--sp-quad);
    padding-bottom: var(--sp-quad);
  }
  
  @include media('screen', '>=small') {
    .container { min-height: 600px; }
  }
}
