/*------------------------------------*\
  Layouts................ Main
\*------------------------------------*/

.c-sec-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: var(--sp-double);

  &__title {
    font-family: $unimed_sanssemibold;
    font-size: var(--fz-xxl);
    margin-bottom: var(--sp-unit);
  }

  &__desc {
    font-size: var(--fz-xm);
    margin-bottom: 0;
  }

  @include media('screen', '>=small') {
    margin-bottom: var(--sp-quad);

    &__title {
      font-size: var(--fz-hhl);
      line-height: 1.4;
      margin-bottom: var(--sp-unit-half);
    }

    &__desc {
      font-size: var(--fz-l);
    }
  }

  @include media('screen', '>medium') {
    &__title {
      max-width: 75%;
    }

    &__desc {
      max-width: 50%;
    }
  }
}


.o-sec {
  padding: var(--sp-triple) 0;

  @include media('screen', '>=small') {
    padding: 140px 0;
  }
}
