// Font faces
//
// Instead of relying on the fonts that are available on a user's computer, you
// can use web fonts which, like images, are resources downloaded to the user's
// browser. Because of the bandwidth and rendering resources required, web fonts
// should be used with care.
//
// Numerous resources for web fonts can be found on Google. Here are a few
// websites where you can find Open Source fonts to download:
// - http://www.fontsquirrel.com/fontface
// - http://www.theleagueofmoveabletype.com
//
// In order to use these fonts, you will need to convert them into formats
// suitable for web fonts. We recommend the free-to-use Font Squirrel's
// Font-Face Generator:
//   http://www.fontsquirrel.com/fontface/generator
//
// The following is an example @font-face declaration. This font can then be
// used in any ruleset using a property like this:  font-family: Example, serif;
//
// Since we're using Sass, you'll need to declare your font faces here, then you
// can add them to the font variables in the _init.scss partial.

// @font-face {
//   font-family: 'Example';
//   src: url('../fonts/example.eot');
//   src: url('../fonts/example.eot?iefix') format('eot'),
//     url('../fonts/example.woff') format('woff'),
//     url('../fonts/example.ttf') format('truetype'),
//     url('../fonts/example.svg#webfontOkOndcij') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }


$ftPath: '../fonts';

// $ft1: 'roboto';

// $ft1-light:   '#{$ftPath}/#{$ft1}-light-webfont';
// $ft1-regular: '#{$ftPath}/#{$ft1}-regular-webfont';
// $ft1-bold:    '#{$ftPath}/#{$ft1}-bold-webfont';


// @font-face {
//   font-family: 'Roboto';
//   src: local('Roboto Light'), local('Roboto-Light'),
//     url(#{$ft1-light}.woff2) format('woff2'),
//     url(#{$ft1-light}.woff) format('woff'),
//     url(#{$ft1-light}.ttf) format('truetype');
//   font-style: normal;
//   font-weight: 300;
// }

// @font-face {
//   font-family: 'Roboto';
//   src: local('Roboto'), local('Roboto'),
//     url(#{$ft1-regular}.woff2) format('woff2'),
//     url(#{$ft1-regular}.woff) format('woff'),
//     url(#{$ft1-regular}.ttf) format('truetype');
//   font-style: normal;
//   font-weight: 400;
// }

// @font-face {
//   font-family: 'Roboto';
//   src: local('Roboto Bold'), local('Roboto-Bold'),
//     url(#{$ft1-bold}.woff2) format('woff2'),
//     url(#{$ft1-bold}.woff) format('woff'),
//     url(#{$ft1-bold}.ttf) format('truetype');
//   font-style: normal;
//   font-weight: 700;
// }


@font-face {
  font-family: 'unimed_sansbold';
  src: url('#{$ftPath}/unimedsans-bold.woff2') format('woff2'),
       url('#{$ftPath}/unimedsans-bold.woff') format('woff'),
       url('#{$ftPath}/unimedsans-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'unimed_sansbold_italic';
  src: url('#{$ftPath}/unimedsans-bolditalic.woff2') format('woff2'),
       url('#{$ftPath}/unimedsans-bolditalic.woff') format('woff'),
       url('#{$ftPath}/unimedsans-bolditalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'unimed_sansextrabold';
  src: url('#{$ftPath}/unimedsans-extrabold.woff2') format('woff2'),
       url('#{$ftPath}/unimedsans-extrabold.woff') format('woff'),
       url('#{$ftPath}/unimedsans-extrabold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'unimed_sansextrabold_italic';
  src: url('#{$ftPath}/unimedsans-extrabolditalic.woff2') format('woff2'),
       url('#{$ftPath}/unimedsans-extrabolditalic.woff') format('woff'),
       url('#{$ftPath}/unimedsans-extrabolditalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'unimed_sansregular';
  src: url('#{$ftPath}/unimedsans-regular.woff2') format('woff2'),
       url('#{$ftPath}/unimedsans-regular.woff') format('woff'),
       url('#{$ftPath}/unimedsans-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'unimed_sansitalic';
  src: url('#{$ftPath}/unimedsans-regularitalic.woff2') format('woff2'),
       url('#{$ftPath}/unimedsans-regularitalic.woff') format('woff'),
       url('#{$ftPath}/unimedsans-regularitalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'unimed_sanssemibold';
  src: url('#{$ftPath}/unimedsans-semibold.woff2') format('woff2'),
       url('#{$ftPath}/unimedsans-semibold.woff') format('woff'),
       url('#{$ftPath}/unimedsans-semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'unimed_sanssemibold_italic';
  src: url('#{$ftPath}/unimedsans-semibolditalic.woff2') format('woff2'),
       url('#{$ftPath}/unimedsans-semibolditalic.woff') format('woff'),
       url('#{$ftPath}/unimedsans-semibolditalic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
