/*------------------------------------*\
  Base.............Reset
\*------------------------------------*/

// SVGs
svg { fill: $cc }
// SVGs

// Link
a {
  transition: $transition-base;

  @include hover {
    text-decoration: none;
  }

  article & { text-decoration: underline; }
}
// Link


// .container {
//   @include media('screen', '<=1024px') {
//     max-width: 100%;
//   }
// }

.videoWrapper {
  position: relative;
  @include square(100%, 0);
  padding-bottom: 56.25%; /* 16:9 */
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}